@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'InterVariable';
  src: url('/fonts/InterVariable.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 100 900;
}

@font-face {
  font-family: 'InterVariable';
  src: url('/fonts/InterVariable-Italic.woff2') format('woff2');
  font-display: swap;
  font-style: italic;
  font-weight: 100 900;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-inter: 'InterVariable', sans-serif;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter);
}