@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Mona Sans';
  src:
    url('/fonts/MonaSans[slnt,wdth,wght].woff2') format('woff2 supports variations'),
    url('/fonts/MonaSans[slnt,wdth,wght].woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-monaSans: 'Mona Sans', sans-serif;
}

/* @media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-monaSans);
}